/* Namari Landing Page Dynamic Style Index

1. Website Default Styling
2. Navigation
3. Primary and Secondary Colors
4. Banner
5. Typography
6. Buttons
7. Footer


/*------------------------------------------------------------------------------------------*/
/* 1. Website Default Styling */
/*------------------------------------------------------------------------------------------*/


body {
    background:#fff;
}


/* Default Link Color */

a, .la-ball-triangle-path {
    color:#F18B15;
}

a:hover, #header.nav-solid nav a:hover {
    color:#F18B15;
}

/* Default Icon Color */

.icon i {
    color:#F18B15;
}

/* Border Color */

#banner, .testimonial.classic footer:before {
    background: #F18B15;
}

.pricing-block-content:hover {
    border-color:#F18B15;
}


/*------------------------------------------------------------------------------------------*/
/* 2. Navigation */
/*------------------------------------------------------------------------------------------*/


/* Transparent Navigation Color on a Banner */

#header nav a, #header i {
    color:#F18B15;
    font-weight: bold;
}


/* Navigation Colors when the Navigation is sticky and solid */ 

#header.nav-solid, #header.nav-solid a, #header.nav-solid i, #nav-mobile ul li a {
    color:#333;
}


/* Navigation Active State */

#header.nav-solid .active {
    color: #F18B15;
    border-color: #F18B15;
}    



/*------------------------------------------------------------------------------------------*/
/* 3. Primary and Secondary Colors */
/*------------------------------------------------------------------------------------------*/


/* Primary Background and Text Colors */

.primary-color, .featured .pricing {
    background-color:#F18B15;
}

.primary-color, .primary-color .section-title, .primary-color .section-subtitle, .featured .pricing, .featured .pricing p {
    color:#fff;    
}

h2:after {
    background:#F18B15;
    content:"";
    display:block;
    width:30px;
    height:5px;
    margin-top:30px;
}

.text-center .section-heading h2:after {
    margin:30px auto 25px auto;
}

/* Primary Icon Colors */

.primary-color .icon i, .primary-color i {
    color:#fff;
}


/* Secondary Background and Text Colors */

.secondary-color {
    background-color:#f5f5f5;
}


/*------------------------------------------------------------------------------------------*/
/* 4. Banner */
/*------------------------------------------------------------------------------------------*/


/* Banner Background and Text Colors */

#banner {
    background: url("../images/banner-images/hero-graphic.png") no-repeat right bottom;
    background-color: #2B2B2B;
    background-size: auto;
}

/* Site sections customization */
#equipping {
    background: url("../images/banner-images/skills.png") no-repeat right bottom;
    background-size: auto;
}

#equipping mark {
    background-color: white;
}

#excel-in-life {
    background: url("../images/banner-images/excel-in-life.png") no-repeat left bottom;
    background-size: cover;
    background-color: #F2F2EE;
}

#expand-influence {
    background: url("../images/banner-images/expand-influence.png") no-repeat center top;
    background-size: cover;
}

@media (max-width: 480px) {
    #excel-in-life{
        background: unset;
        background-color: #F2F2EE
    }
}

/* #excel-in-life h2::after {
    width: 100%;
} */

#testimonials {
    background: #F2F2EE;
}

#contact {
    background-color: #2B2B2B;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}

#contact .section-title{
    color: #fff;
}

#contact h3 {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: lighter;
    margin-left: 45px;
}

#contact h4 {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: #fff;
}

/*------------------------------------------------------------------------------------------*/
/* 5. Typography */
/*------------------------------------------------------------------------------------------*/


body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size:15px;
    font-weight:normal;
    color:#111;
}

/* Logo, if you are using Fonts as Logo and not image

#logo h1 {
    font-family:;
    font-size:; 
    font-weight:;
    color:;
}

#logo h2 {
    font-family:;
    font-size:; 
    font-weight:;
    color:;
}

*/


/* Banner Typography */

#banner h1 {
    font-family: 'Miriam Libre', Helvetica, sans-serif;
    font-size: 40px;
    font-weight:600;
    text-align: left;
    color:#F18B15;
    letter-spacing: 0.07em;
}

#banner h3 {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 23px;
    font-weight: 400;
    text-align: left;
    color:#fff;
    letter-spacing: 0.01em;
}


/* Section Title and Subtitle */

.section-title {
    font-family: 'Miriam Libre', Helvetica, sans-serif;
    font-size: 34px; 
    font-weight:700;
    color:#000;
}

.section-subtitle {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight:300;
    color:#000;
}

/* Testimonial */

.testimonial q {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 17px; 
    font-weight:300;
}

.testimonial.classic q, .testimonial.classic footer {
    color:#111;
}


/* Standard Headings h1-h6 */

h1 {
    font-family: 'Miriam Libre', Helvetica, sans-serif;
    font-size: 40px; 
    font-weight:300;
    color:#111;
}

h2 {
    font-family: 'Miriam Libre', Helvetica, sans-serif;
    font-size: 34px; 
    font-weight:300;
    color:#111;
}

h3 {
    font-family: 'Miriam Libre', Helvetica, sans-serif;
    font-size: 30px; 
    font-weight:700;
    color:#111;
}

h4 {
    font-family: 'Miriam Libre', Helvetica, sans-serif;
    font-size: 18px; 
    font-weight:400;
    color:#111;
}

h5 {
    font-family: 'Miriam Libre', Helvetica, sans-serif;
    font-size: 16px; 
    font-weight:400;
    color:#111;
}

h6 {
    font-family: 'Miriam Libre', Helvetica, sans-serif;
    font-size: 14px; 
    font-weight:400;
    color:#111;
}


/*------------------------------------------------------------------------------------------*/
/* 6. Buttons */
/*------------------------------------------------------------------------------------------*/

/* ----------Default Buttons---------- */


/* Button Text */

.button, input[type="submit"]  {
    font-family: 'Miriam Libre', Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    color:#111;
}


/* Button Color */

.button, input[type="submit"] {
    border-color:#111;
}


/* Button Hover Color */

.button:hover,  input[type="submit"]:hover {
    border-color:#F18B15;
    color:#F18B15;
}


/* ----------Banner Buttons---------- */


/* Button Text */

#banner .button {
    font-family: 'Miriam Libre', Helvetica, sans-serif;
    font-size:16px;
    color:#fff;
    text-align: center;
}


/* Button Color */

#banner .button {
    border-color:#F18B15;
}


/* Button Hover Color */

#banner .button:hover {
    color:#F18B15;
    border-color:#F18B15;
}


/*------------------------------------------------------------------------------------------*/
/* 7. Footer */
/*------------------------------------------------------------------------------------------*/

#landing-footer, #landing-footer p, #landing-footer a {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    background-color: #111;
}

/* Footer Icon Color */

#landing-footer i {
    color:#fff;
}